body {
    background-color: #ff8875;
    margin: 0;
}

.sky {
	width: 8000px;
	height: 8000px;
	margin: 0 auto;
	top: -100px;
	left: -100px;

}


#mount1 {
    position: fixed;
    bottom: -1px;
    left: -30%;
    width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 300px solid rgb(0, 0, 0);
	z-index: 100;
}

#mount1b {
    position: fixed;
    bottom: -1px;
    left: -30%;
    width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 300px solid rgb(239, 176, 20);
	z-index: 99;
}

#mount2 {
    position: fixed;
    bottom: -1px;
    left: -50px;
    width: 0;
	height: 0;
	border-left: 550px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 320px solid rgb(0, 0, 0);
	z-index: 50;
}

#mount2b {
    position: fixed;
    bottom: -1px;
    left: -50px;
    width: 0;
	height: 0;
	border-left: 550px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 320px solid rgb(239, 156, 6);
	z-index: 49;
}

#mount3 {
    position: fixed;
    bottom: -1px;
    width: 0;
	height: 0;
	border-left: 600px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 260px solid rgb(0, 0, 0);
	z-index: 110;
}

#mount3b {
    position: fixed;
    bottom: -1px;
    width: 0;
	height: 0;
	border-left: 600px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 260px solid rgb(255, 201, 77);
	z-index: 109;
}

#mount4 {
    position: fixed;
    bottom: -1px;
    right: 30%;
    width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 550px solid transparent;
	border-bottom: 280px solid rgb(0, 0, 0);
	z-index: 90;
}

#mount4b {
    position: fixed;
    bottom: -1px;
    right: 30;
    width: 0;
	height: 0;
	border-left: 400px solid transparent;
	border-right: 550px solid transparent;
	border-bottom: 280px solid rgb(239, 156, 6);
	z-index: 89;
}

.tree {
    position: fixed;
    bottom: -1px;
    left: 100px;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 500px solid rgb(0, 0, 0);
	z-index: 200;
}

.treeb {
    position: fixed;
    bottom: -1px;
    left: 100px;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 500px solid rgb(14, 200, 133);
	z-index: 199;
}

.sun {
	position: fixed;
	width: 100px;
	height: 100px;
	left: 15%;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 5;
}

.sunb {
	position: fixed;
	width: 100px;
	height: 100px;
	left: 15%;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 4;
}

.moon {
	position: fixed;
	width: 100px;
	height: 100px;
	right: 20%;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 4;
}

.star {
	position: absolute;
	width: 4px;
	height: 4px;
	background: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

}

.starsky{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}