body {
    background-color: #ff8875;
    margin: 0;
}

.sky {
	width: 8000px;
	height: 8000px;
	margin: 0 auto;
	top: -100px;
	left: -100px;

}


#mount1 {
    position: fixed;
    bottom: -1px;
    left: -30%;
    width: 0;
	height: 0;
	border-left: 1500px solid transparent;
	border-right: 1050px solid transparent;
	border-bottom: 900px solid rgb(0, 0, 0);
	z-index: 100;
}

#mount1b {
    position: fixed;
    bottom: -1px;
    left: -30%;
    width: 0;
	height: 0;
	border-left: 1500px solid transparent;
	border-right: 1050px solid transparent;
	border-bottom: 900px solid rgb(239, 176, 20);
	z-index: 99;
}

#mount2 {
    position: fixed;
    bottom: -1px;
    left: -50px;
    width: 0;
	height: 0;
	border-left: 1350px solid transparent;
	border-right: 2000px solid transparent;
	border-bottom: 1020px solid rgb(0, 0, 0);
	z-index: 50;
}

#mount2b {
    position: fixed;
    bottom: -1px;
    left: -50px;
    width: 0;
	height: 0;
	border-left: 1350px solid transparent;
	border-right: 2000px solid transparent;
	border-bottom: 1020px solid rgb(239, 156, 6);
	z-index: 49;
}

#mount3 {
    position: fixed;
    bottom: -1px;
    width: 0;
	height: 0;
	border-left: 1400px solid transparent;
	border-right: 1600px solid transparent;
	border-bottom: 760px solid rgb(0, 0, 0);
	z-index: 110;
}

#mount3b {
    position: fixed;
    bottom: -1px;
    width: 0;
	height: 0;
	border-left: 1400px solid transparent;
	border-right: 1600px solid transparent;
	border-bottom: 760px solid rgb(255, 201, 77);
	z-index: 109;
}

#mount4 {
    position: fixed;
    bottom: -1px;
    right: 30%;
    width: 0;
	height: 0;
	border-left: 1500px solid transparent;
	border-right: 1450px solid transparent;
	border-bottom: 980px solid rgb(0, 0, 0);
	z-index: 90;
}

#mount4b {
    position: fixed;
    bottom: -1px;
    right: 30%;
    width: 0;
	height: 0;
	border-left: 1500px solid transparent;
	border-right: 1450px solid transparent;
	border-bottom: 980px solid rgb(239, 156, 6);
	z-index: 89;
}

.tree {
    position: fixed;
    bottom: -1px;
    left: 100px;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 500px solid rgb(0, 0, 0);
	z-index: 200;
}

.treeb {
    position: fixed;
    bottom: -1px;
    left: 100px;
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 500px solid rgb(14, 200, 133);
	z-index: 199;
}

.sun {
	position: fixed;
	width: 300px;
	height: 300px;
	left: 25%;
	background: red;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	z-index: 5;
}

.sunb {
	position: fixed;
	width: 300px;
	height: 300px;
	left: 25%;
	background: yellow;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	z-index: 4;
}

.moon {
	position: fixed;
	width: 300px;
	height: 300px;
	right: 25%;
	background: white;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	z-index: 4;
}

.star {
	position: absolute;
	width: 10px;
	height: 10px;
	background: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

.starsky{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

.container{
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	bottom: 100px;
	left: 0;
	z-index: 500;
}
.directions{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 100px;
	color: white;
	text-align: center;
	margin: 0, auto;
	z-index: 500;
	bottom: 100px;
}