body {
    background-color: teal;
    margin: 0;
}

.area {
	width: 8000px;
	height: 8000px;
	margin: 0 auto;
	top: -100px;
	left: -100px;
	background-color: red;
}



.box{ 
    position: fixed;
    display: block;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 0;
    opacity: 0.5;
}


.circle {
	position: fixed;
    display: block;
	width: 30px;
	height: 30px;
	background: red;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
    opacity: 0.5;
    top: 100px;
    left: 100px;
    z-index: 100;
}

.sun {
}